* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  background: #fff;
  color: #000;
  overflow: hidden;
}

/* 페이지 */
.page {
  position: fixed;
  inset: 0;
  background: #fff;
  padding: 24px;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.page.active {
  opacity: 1;
  pointer-events: auto;
}

.page.prev {
  transform: translateX(-100%);
}

.earphone {
  position: fixed;              
  top: 20%;
  width: 80vw;
  height: 80vh;

  background-image: url('earphone.PNG'); /* ← index.html과 같은 폴더 */
  background-repeat: no-repeat;
  background-size: contain;

  z-index: 2;
  pointer-events: none;
}

/* Fortune */
.earphone-left {
  right: -20vw;
  background-position: left center;
}

/* Music */
.earphone-right {
  left: -20vw;
  background-position: right center;
}


/* 콘텐츠 */
.content {
  position: relative;
  z-index: 5;
}

.date {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 6px;
}

h1 {
  font-size: 28px;
  font-weight: 800;
  margin: 0 0 20px 0;
}

.body-text {
  margin-top: 12vh;
  font-size: 16px;
  line-height: 1.6;
}

.music-text {
  margin-top: 20px;
}

/* 썸네일 */
.thumb {
  width: 45%;
  max-width: 150px;
  display: block;
}

.song-info {
  margin-top: 12px;
  font-weight: 700;
}
